@font-face {
  font-family: 'Gilam';
  src: url(../fonts/gilam-regular.woff);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gilam';
  src: url(../fonts/Gilam-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gilam';
  src: url(../fonts/Gilam-Book.woff);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gilam';
  src: url(../fonts/Gilam-Book.woff2);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url(../fonts/CirceRegular.woff);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url(../fonts/CirceRegular.woff2);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url(../fonts/CirceBold.woff);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url(../fonts/CirceBold.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilam';
  src: url(../fonts/Gilam-SemiBold.woff);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Gilam';
  src: url(../fonts/Gilam-SemiBold.woff2);
  font-weight: 700;
  font-style: normal;
}
  a {
    text-decoration: none;
}
 .body {
  background-color: #171717;
}
.header {
  background-image: url(../image/backone.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.wrap {
  width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}
.header-menu {
   display: flex;
   list-style-type: none;
   padding-top: 60px;
   justify-content: space-between;
   align-items: center;
   padding-bottom: 60px;
}
  .accent-color {
    color: #D6AF76;
}
.icon {
  padding-right: 10px;
}
  .tel-button {
    font-family: 'Circe';
    color: #E4B564;
    background-color: transparent;
    border: 1px solid;
    padding: 10px 22px 10px 26px;
    box-sizing: border-box;
}
  .call {
    font-family: 'Circe';
    margin-right: 40px;
    color: #FFFFFF;
}
  .start-text {
    color:#FFFFFF ;  
}
  .title{
    color: #FFFFFF;
    font-family: 'Gilam';
    font-weight: 700 bold;
    font-size: 50px;
}
  .subtitle {
    color: #FFFFFF;
    margin: 30px 450px 30px 0;
    font-weight: 700 bold;
    font-size: 18px;
    line-height: 28px; 
}
  .objects { 
    color: #FFFFFF;
  font-family: 'Gilam';
  display: grid;
  grid-template-columns: repeat(12, 1fr); 
  grid-template-rows: repeat(2, 468px);
  gap: 30px;
  grid-template-areas: 
  "work1 work1 work1 work1 work2 work2 work2 work2 work3 work3 work3 work3"
  "work4 work4 work4 work4 work4 work4 work5 work5 work5 work5 work5 work5"; 
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
} 
  .type-work-one {
    grid-area: work1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #634F2C;
}
  .type-work-two {
    grid-area: work2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B4A385;
}
  .type-work-three {
    grid-area: work3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E4B564;
}
  .type-work-forth {
    grid-area: work4;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #635A4A;
}
.white {
  color: #0A0909;
}
  .type-work-fifth {
    grid-area: work5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B08C4D;
}
  .main{
    background-image: url(../image/backtwo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
  .main-section-title {
    font-family: 'Gilam';
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    padding-top: 161px;
    padding-bottom: 94px;
  }
  .main-section-machine {
    color: #FFFFFF;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;
    height: 900px;
  }
 
  .machine-machine--part2 {
    font-family: 'Gilam';
    max-width: 467px;
    min-height: 560px;
    background-color: #1F1F1F;
    padding: 44px 52px;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
  }
  .machine-machine--part1 {
    font-family: 'Gilam';
    max-width: 467px;
    min-height: 313px;
    background-color: #0E0E0E;
    padding: 44px 52px;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
  }
  .machine-machine--part3 {
    font-family: 'Gilam';
    max-width: 467px;
    min-height: 439px;
    background-color: #242424;
    padding: 44px 52px;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
  }
  .machine-machine--part4 {
    font-family: 'Gilam';
    max-width: 467px;
    min-height: 405px;
    background-color: #E4B564;
    padding: 44px 52px;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
  }
  .machine-machine--part5{
    font-family: 'Gilam';
    max-width: 467px;
    min-height: 255px;
    background-color: #1F1F1F;
    padding: 44px 52px;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
  }
  .machine-machine--part6{
    font-family: 'Gilam';
    max-width: 467px;
    min-height: 313px;
    background-color: #0E0E0E;
    padding: 44px 52px;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
  }
  .machine-machine--part7{
    font-family: 'Gilam';
    max-width: 467px;
    min-height: 277px;
    background-color: #0A0909;
    padding: 44px 52px;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
  }
  .projects {
    background-color: #0E0E0E;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 239px;
  }
.header-projects {
  padding: 172px 0 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projects-title {
    color: #FFFFFF;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
}
.projects-button {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding: 10px 40px;
    color: #E4B564;
    border: 1px solid #E4B564;
    box-sizing: border-box;
}
.projects-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 391px);
}
.projects-logo1,
.projects-logo2,
.projects-logo3,
.projects-logo4,
.projects-logo5,
.projects-logo6 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.projects-logo2 {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(232, 210, 171, 0.76);
}
.projects-logo1 {
  background-color: #634F2C;
}
.projects-logo3 {
  background-color: #E4B564;
}
.projects-logo4 {
  background-color: #635A4A;
}.projects-logo5 {
  background-color: #B08C4D;
}.projects-logo6 {
  background-color: #634F2C;
}
.clients-projects__link2-header {
  max-width: 320px;
  text-align: center;
  font-family: 'Gilam';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
}
.link2-header-span {
  display: block;
  font-weight: 400;
}
.projects-info {
  display: flex;
  flex-flow: column;
  align-items: center;
}